html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.container {
    max-width: calc(100% - (161px * 2 ));
    margin:  0 auto;
}
@mixin rong-dai ($rong, $cao) {
    width : $rong;
    height: $cao;
}
$blue-color: #14b9d5;
$red-color: #f76570;

// header

.header {
    &__img-logo {
        height: 870px;
        width: 100%;
        position: relative;
    }
    &__content {
        position: absolute;
        top: 270px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        
    // }
    // &__text {
    //     color: #fff;
    //     font-size: 5rem;
    //     font-weight: 700;
    //     line-height: 50px;
    //     text-align: center;
    // }
    &__desc {
        color: #fff;
        font-size: 2rem;
        letter-spacing: 4px;
        line-height: 20px;
        text-align: center;
    }
    &__img {
        @include rong-dai(40px, 40px);
    }
}
.navbar {
    position: absolute;
    top: 0;
    @include rong-dai(100%, 104px);
    background-color: rgba(110, 108, 108, 0.3);
    color: #a3a3a3;
    padding: 0 50px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
   &__logo {
       @include rong-dai(160px, 37px);
   }
   &__img {
       @include rong-dai(160px, 37px);
   }
   &__list {
       display: flex;
       align-items: center;
       margin-left: 67px;
   }
   &__item{
       transition: all 0.25s linear;
   }

   &__item:hover .sub__menu{
    display: block;
   }
   &__btn{
       background-color: #ba71da;
       border-radius: 30px;
       padding: 12px 15px 10px;
       color: #fff;
       letter-spacing: 2px;
       font-size: 1.4rem;
   }
   &__item-link {
       display: inline-block;
       color: rgb(255, 255, 255);
       font-size: 1.4rem;
       letter-spacing: 2px;
        padding: 25px 20px;
   }
   &__icon {
       margin-left: auto;
       font-size: 3rem;
       color: #fff;
   }
   
}
.sub__menu{
    position: absolute;
    background-color:#fff;
    width: 190px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px #f1f1f1;
    display: none;
    
    &-item {
        padding: 15px 25px;
        border-bottom:  1px solid #f1f1f1;
        position: relative;
        cursor: pointer;
    }
    &-item:first-child 
    &-link--hot::after{
        // position: absolute;
        content: "HOT";
        background-color:#f76570;
        font-size: 1rem;
        padding: 3px 5px;
        color: #fff;
        float: right;
        border-radius: 3px;
        margin-top: -2px;
    }
    &-link--new::after{
        // position: absolute;
        content: "NEW";
        background-color:$blue-color;
        font-size: 1rem;
        padding: 3px 5px;
        color: #fff;
        float: right;
        border-radius: 3px;
        margin-left: 15px;
        margin-top: -2px;
    }
    &-item:hover{
        background-color: #fafafa;
    }
    &-item:hover .menu__child {
        display: block;
    }
    &-link {
        font-size: 1.4rem;
        color: #9a9a9a;
        letter-spacing: 2px;
    }
    &-left-icon {
        font-size: 1.4rem;
        // margin-left: 24px;
        float: right;
    }
}
.menu__child {
    display: none;
    position: absolute;
    margin-left: 190px;
    width: 190px;
    top: 0;
    background-color:#fff;
    box-shadow: 0px 2px 5px #f1f1f1;
    &:after { 
        content:"";
        background-color: transparent;
        @include rong-dai(30px, 50px);
        position: absolute;
        left:-27px;
        top: 0;
    }
    &-item {
        padding: 15px 25px;
        border-bottom:  1px solid #f1f1f1;
        cursor: pointer;
    }
    &-item:hover {
        background-color: #fafafa;
    }
    &-item--best:first-child &-link::after{
        content: "BEST";
        background-color: $blue-color;
        font-size: 1rem;
        padding: 3px 5px;
        color: #fff;
        float: right;
        border-radius: 3px;
        margin-top: -2px;
    }
    &-link {
        font-size: 1.4rem;
        color: #9a9a9a;
        letter-spacing: 2px;
        white-space: nowrap;
    }
}
//              Content
