html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.container {
    max-width: calc(100% - 32px);
    margin:  0 auto;
}
@mixin rong-dai ($rong, $cao) {
    width : $rong;
    height: $cao;
}

// header

.header {
    &__img {
        height: 870px;
        width: 100%;
        position: relative;
    }
}
.navbar {
    position: absolute;
    top: 0;
    @include rong-dai(100%, 104px);
    background-color: rgba(110, 108, 108, 0.3);
    color: #a3a3a3;
    padding: 0 50px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
   &__logo {
       @include rong-dai(160px, 37px);
   }
   &__img {
       @include rong-dai(160px, 37px);
   }
   &__list {
       display: flex;
       align-items: center;
       margin-left: 67px;
   }
   &__item {
        padding: 25px 20px;
   }
   &__item-link {
       color: rgba(255, 255, 255, 0.85);
       font-size: 1.4rem;
       letter-spacing: 2px;
   }
}